html
  include ./includes/head.pug
  body
    header
    nav.navbar.fixed-top.navbar-dark.bg-dark.justify-content-between
      div.d-flex.flex-row.justify-content-around
        a.nav-link.nav-item.text-light.active(href='/') Home
        a.nav-link.nav-item.text-light(href='/search') Search
      div
        a.nav-link.align-self-end.nav-item.text-danger(href='/logout') Logout
  
    div.jumbotron.jumbotron-fluid  
      div.container
        h1.display-4 Welcome to the App.
        p.lead This app let you , search on different domain urls and save the search.
  include ./includes/foot.pug
          
          
      