html
  head
    title= title
    meta(name="description", content="interview app")
    link(id="favicon",rel="icon", href="https://glitch.com/edit/favicon-app.ico", type="image/x-icon")
    meta=(charset="utf-8")
    meta=(http-equiv="X-UA-Compatible",content="IE=edge")
  body
    h1= message1