html
  head
    title=title
    meta(name="description", content="interview app")
    link(id="favicon",rel="icon", href="https://glitch.com/edit/favicon-app.ico", type="image/x-icon")
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body
    header
     h1 Login
     div.d-flex.flex-row.justify-content-center.align-items-center
       div.card
         div.card-body
           h2 Login
           