html
  include ./includes/head.pug
  body
    header
    nav.navbar.navbar-dark.bg-dark.justify-content-between
      div.d-flex.flex-row.justify-content-around
        a.nav-link.nav-item.text-light(href='/') Home
        a.nav-link.nav-item.text-light.active(href='/search') Search
      div
        a.nav-link.align-self-end.nav-item.text-danger(href='/logout') Logout
  
    nav
      div.nav.nav-tabs
        a.nav-item.nav-link.active(data-toggle="tab", href="#search", role="tab") Search 
        a.nav-item.nav-link(data-toggle="tab", href="#view-search", role="tab") Saved Search
      div.tab-content
        div.tab-pane.fade.show.active.m-5(id="search")
          b search
          div.d-flex.flex-row.searchBox
            div.searchVal
            input.border-white(type="text", id="searchField", placeholder="Enter search url, upto 3 url comma separated...")
          ul.list-group.none(id="search-results")
        div.tab-pane.fade.show(id="view-search") 
        div.d-flex.flex-row.justify-content-around
          button.btn.btn-primary Search
          button.btn.btn-secondary(id="savesearch") Save Search
          
  include ./includes/foot.pug
      