html
  include ./includes/head.pug
  body
    header
    nav.navbar.navbar-dark.bg-dark.justify-content-between
      div.d-flex.flex-row.justify-content-around
        a.nav-link.nav-item.text-light(href='/') Home
        a.nav-link.nav-item.text-light.active(href='/search') Search
      div
        a.nav-link.align-self-end.nav-item.text-danger(href='/logout') Logout
  
    nav
      div.nav.nav-tabs
        a.nav-item.nav-link.active(data-toggle="tab", href="#search", role="tab") Search 
        a.nav-item.nav-link(data-toggle="tab", href="#view-search", role="tab") Saved Search
      div.tab-content
        div.tab-pane.fade.show.active.m-5(id="search")
          b search
          div.d-flex.flex-row.searchBox
            div.searchVal
            input.border-white(type="text", id="searchField", placeholder="Enter search url, upto 3 url comma separated...")
          ul.list-group.none(id="search-results")
          div.d-flex.flex-row.justify-content-around.m-5
            button.btn.btn-primary Search
            button.btn.btn-secondary(data-toggle="modal" data-target="#exampleModal") Save Search'
        div.tab-pane.fade.show(id="view-search") 
          button.btn.btn-primary(id="showSavedItems") Show Saved Search
          table.table(id="search-results")
            thead.thead-dark
              tr
                th(scope="col") #
                th(scope="col") name
                th(scope="col") query
                th(scope="col") action
            
        
          
      #exampleModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Search Name
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") ×
            .modal-body
              div
                input(type="text" id="searchName" placeholder="search name" required)
            .modal-footer
              button.btn.btn-secondary(type="button" data-dismiss="modal") Close
              button.btn.btn-primary(type="button" id="savesearch" ) Save changes
          
  include ./includes/foot.pug
      