html
  head
    title=title
    meta(name="description", content="interview app")
    link(id="favicon",rel="icon", href="https://glitch.com/edit/favicon-app.ico", type="image/x-icon")
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body
    header
     div.d-flex.flex-row.justify-content-center.align-items-center.h-75
       div.card
         div.card-body
           h2 Signup
           form(action="/signup" method="post")
             div.form-group
               label Username
               input.form-control(type="username", name="username" id="usernamesignup", aria-describedby="usernameHelp", placeholder="Enter UserName")
             div.form-group
               label Email Address
               input.form-control(type="email", name="email," id="exampleInputEmail1", aria-describedby="emailHelp", placeholder="Enter email")
             div.form-group
                 label(for="exampleInputPassword1") Password
                 input.form-control(type="password", placeholder="Password")
             button.btn.btn-primary(type="submit") Submit